html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 4rem;
}

body {
    margin: 0;
    font-family: 'Unbounded', cursive;
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    transition: display ease-in 0.5s;
}


.main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    width: 100%;
}

.info-cont {
    padding: 0.2rem 0;
    border-bottom: solid 0.2px #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-cont h1 {
    font-size: 6rem;
    margin: 3rem 0;
}

.links {
    display: flex;
}

.links:hover {
    cursor: pointer;
}

.hero-page {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: 65%;
}

.hero-text {
    margin: 0 0 0 4rem;
    position: relative;
    width: 100%;
}

.hero-text h1 {
    font-size: 4rem;
    margin: 0;
}

.hero-text h1 p {
    margin: 0;
    position: relative;
    opacity: 0;
}

.hero-text h2 {
    font-size: 1rem;
    margin: 0;
    color: #777777;
    font-weight: lighter;
    position: relative;
    opacity: 0;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.circle img {
    border-radius: 50%;
    display: block;
    border: 1px solid #000;
}

.circle:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 90%, rgb(0, 0, 0) 100%);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.home,
.about,
.projects,
.contacts {
    margin: 0 2rem 0 2rem;
    padding: 0.2rem 0.5rem;
}

.about:hover,
.projects:hover,
.contacts:hover {
    background-color: #1d1d1d;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}


.about-page {
    flex-direction: column;
    width: 56%;
}

.about-page h2,
.projects-page h2,
.contact-page h2 {
    font-size: 4rem;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;

}

.about-page,
.projects-page,
.contact-page {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-page p {
    position: relative;
    top: 40px;
    font-size: 1.5rem;
    font-weight: lighter;
    animation: slideUp ease .5s forwards;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.card {
    color: #fff;
    border: #fff solid 1px;
    height: 12rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: fadeIn 1s ease-in forwards;
    opacity: 0;
}

.card:hover {
    cursor: pointer;
    background-color: #1d1d1d;
}

.hero-text h1 {
    animation: fadeIn 2s ease;
}

.hero-text h2 {
    top: 40px;
    left: 10px;
    animation: slideUp ease .5s forwards 1.2s;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.card::before {
    font: var(--fa-font-solid);
    content: "\f35d";
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    transition: all ease-in 0.15s;
}

.card:hover::before {
    right: 0.5rem;
    top: 0.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes slideUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40px);
        opacity: 1;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-top: solid #fff 1px;
}

@media screen and (max-width: 800px) {
    .main-cont h1 {
        font-size: 1.7rem;
        /* The width is 100%, when the viewport is 800px or smaller */
    }

    .info-cont {
        margin: 0;
    }

    .links {
        margin: 0;
    }

    #ab,
    #pb,
    #cb,
    #hb {
        margin: 0 1rem;
        font-size: 0.7rem;
    }

    #ap,
    #pp,#cp {
        margin: 0;
        width: 100%;
    }

    #ap h2,
    #pp h2,
    #cp h2 {
        font-size: 1rem;
        margin: 1rem 0;

    }

    #ap p {
        font-size: 1rem;
        margin: 1rem;
    }

    .cards {
        display: block;
    }

    .card{
        transform: scale(0.6);
    }

    .hero-page{
        margin: 0;
        display: block;
    }

    .hero-text h2{
        font-size: 0.8rem;
    }

    img {
        transform: scale(0.6);
    }
}